body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #e2bbe6;
    color:#f5f6f0;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
  }
  label{
    display: block;
    margin: 0.5rem 0;
  }


  h1, fieldset {
    margin: 1em auto;
    text-align: center;
  
  }
  fieldset
  {
    background-color:#fe9800;
    max-width:500px;
    padding:16px;	
    text-align:left;
    
  }
